<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/Head.ejs')%>
<body>
    <%- include('./partials/Navbar.ejs')%>

    <div class="about content">
        <h2>About us</h2>
        <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo, earum, id, nesciunt enim pariatur tempore veniam incidunt sunt suscipit laudantium exercitationem est natus itaque veritatis delectus consectetur maiores adipisci hic?
        </p>
    </div>
    <%- include('./partials/Footer.ejs')%>
</body>
</html>